:root{
--primary-color:#c72727;
--secondary-color-color:#f99500;
--light-color:#f3f3f3;
--dark-color:#333;
--max-width:1100px;


}




.nav-bar .container {

    background-color:white;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr ;
    align-items: center;
    
}

.nav-bar ul{
    list-style: none;
}
.logo{
    margin-left: 7rem;
}
.social a{
padding: 1rem;
        
}
.current{
    text-decoration: none;
    font-size: 20px;
    
}


ul{
    display: grid;
    grid-template-columns:1fr 1fr;
}
.card{
background:red;
padding: 1rem;
}
.bg-dark {
background: var(--dark-color);
color: #fff;
}
.bg-primary {
background: var(--primary-color);
color: #fff;
}
.bg-secondary{
background: var(--secondary-color);
color: #fff;
} 
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
color:#fff;
}
.py-1 {padding: 1.5rem 0}
.py-2 {padding: 2rem 0}
.py-3 {padding: 3rem 0}
.p-1 {padding: 1.5rem 0}
.p-2 {padding: 2rem 0}
.p-3 {padding: 3rem 0}

/* home articles */
#home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
#home-articles .articles-container > *:first-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem;
    align-items: center;
    grid-column: 1 /span 2;

}
#home-articles .articles-container > *:last-child{
    grid-column: 2 / span 2;
}
img {
    width: 100%;
}
/* footer */
#main-footer {

    background: var(--dark-color);
    color: #fff;

}
#main-footer img {
    width: 150px;
}
#mian-footer a{

    color: #fff;
}
#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {

background: #444;
grid-column: 1 / span 4; 
padding : .5rem; 
text-align: center;
font-size: 0.75rem;

}
#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
#main-footer .footer-container input[type='submit'] {
    width: 90;
}
.p {
margin: .5rem;
}
.list li {
background: #fff;
border-bottom: #555 dotted 1px;
width: 90%;


}
ul {
    list-style: none;
}
